$primary-font-color: 31326F;
$secondary-font-color: 9DDFD3;
$after-selecting-hover-color: DBF6E9;
$header-background-color: FFC93C;
$secondary-header-background-color: DBF6E9;
$border-style: line; 
$border-width: 0.5em ;
$border-color: DBF6E9;
$border: $border-color $border-width $border-style;
